html(ng-app="myApp")
div(ng-view)
script(src='/javascripts/jquery-1.11.1.min.js')
script(src='/bootstrap/js/bootstrap.min.js')
script(src='angular.min.js')
script(src='angular-route.min.js')
script(src='test.js')
script(src="home.js")
script(src="food.js")